@import 'mixins'
// colorsgulp
$bg_c: #fff
$h_bg: #000
$w_col: #fff
$act_link: #ff3366
$s_grey: #F7F7F7
$f_bg: rgba(44, 47, 47, 1)

//main settings
.b_red
  border: 1px solid #f00
.b_yel
  border: 1px solid yellow
.b_blue
  border: 1px solid blue
body
	background-color: $bg_c
    font-family: 'Open Sans', sans-serif
input
  border: none
  margin: 0
  padding: 8px
  color: #000
.fixed
  position: fixed
  top: 0
  left: 0
  width: 100%
  margin: 0 auto
.text-center
  text-align: center
img
  display: block
  max-width: 100%
  height: auto
ul
  li
    list-style: none
section
  padding: 4em 0
  h2,
  h3,
  h4
    text-align: center
    text-transform: uppercase
.s_grey
  background-color: $s_grey
.b_text
  line-height: 23px
  width: 100%
  margin-bottom: 30px
.new-text
  margin: 0 auto
  //padding: 5em 3em 2em
  text-align: left
  width: 50%
.b_bottom
