aside
.widget_block
  margin-bottom: 1em
  .w_content
    ul
      margin: 0
      padding: 0
      li
        display: block
        list-style: none
        a
          line-height:  1.8em
          margin: 0 0 1em
          color: $f_bg
    .list-tags li a
      background-color: #ed4aa0
      border-top: 2px solid #ed4aa0
      color: #fff
      float: left
      margin: 2px
      padding: 7px