@import bourbon/bourbon
@import 'includes/settings'
@import 'includes/header'

.about
  font-size: 16px
// style for blog page
.blog_box
  margin-bottom: 20px
.post_intro,
.widget_block
  h3
    text-transform: uppercase
    line-height: 1.4em
    font-size: 22px
    font-family: 'Roboto', sans-serif
    font-weight: 700
    a
      text-decoration: none
      color: #000
  img
    //width: auto
    margin: 0 auto
    max-height: 400px
.text_intro
  line-height: 1.7em
  p
    padding: 1em
  //font-size: 14px
  //float: right
.comments
  float: left
  margin-right: 18px
.links
  padding: 0
  li
    display: block
    margin: 5px 0
    a
      color: $act_link
  span
    padding-left: 3px
    //display: block
// arrow to top
#toTopHover
 display: block
 float: right
 height: 32px
 opacity: 0
 overflow: hidden
 width: 32px
#toTop
  background: url("../images/arr.png") no-repeat scroll 0 0
  border: medium none
  bottom: 24px
  display: none
  height: 32px
  overflow: hidden
  position: fixed
  right: 1%
  text-decoration: none
  text-indent: 100%
  width: 32px
  z-index: 999

@import 'includes/widgets'
@import 'includes/contact'
@import 'includes/pagination'
@import 'includes/footer'
// media
@import 'media'
//libs
@import '../assets/animate/animate.sass'
@import "../assets/superfish/dist/css/superfish"
@import "../assets/jq.mmnu/css/jquery.mmenu.all"
